name: 'Rebase Test'
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  rebase:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3

      - name: 'Rebase PR'
        uses: ./.github/actions/rebase-action
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
